---
type Mode = "explore" | "showcase";
const { mode } = Astro.props as { mode: Mode };
---

<div data-discogs-mode={mode}>
  <slot />
</div>

<script>
  import "../scripts/discogs-workbench.client.ts";
</script>
